/*
$black: #000000;
$gray10: #1a1a1a;
$gray20: #333333;
$gray30: #4d4d4d;
$gray40: #666666;
$gray50: #7f7f7f;
$gray60: #999999;
$gray70: #b3b3b3;
$gray80: #cccccc;
$gray90: #e5e5e5;
$white: #ffffff;

$activeborder: ActiveBorder;
$activecaption: ActiveCaption;
$appworkspace: AppWorkspace;
$background: Background;
$buttonface: ButtonFace;
$buttonhighlight: ButtonHighlight;
$buttonshadow: ButtonShadow;
$buttontext: ButtonText;
$captiontext: CaptionText;
$graytext: GrayText;
$highlight: Highlight;
$highlighttext: HighlightText;
$inactiveborder: InactiveBorder;
$inactivecaption: InactiveCaption;
$inactivecaptiontext: InactiveCaptionText;
$infobackground: InfoBackground;
$infotext: InfoText;
$menu: Menu;
$menutext: MenuText;
$scrollbar: Scrollbar;
$threeddarkshadow: ThreeDDarkShadow;
$threedface: ThreeDFace;
$threedhighlight: ThreeDHighlight;
$threedlightshadow: ThreeDLightShadow;
$threedshadow: ThreeDShadow;
$window: Window;
$windowframe: WindowFrame;
$windowtext: WindowText;
*/