$button-border: 2px solid $white;
$button-color: $white;
$button-background: $black;
$button-hover-color: $black;
$button-hover-background: $white;
$button-active-color: $black;
$button-active-background: $white;
$button-active-hover-color: $black;
$button-active-hover-background: $white;