@import "../styles/variables";
@import "../styles/mixins";

.app {
  position: relative;
  width: 100%;
  height: 100%;
  font: 16px $text-font-family;
  color: #333;
  background: #999;
  border: 2px solid #333;
  box-sizing: border-box;
  overflow: hidden;

  a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }

  :focus {
    outline: lime dashed 2px;
    outline-offset: 1px;
  }

  .splash {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: opacity 500ms ease-out 0ms, visibility 0ms linear 500ms;

    img {
      width: 100px;
      animation: spin 2s linear infinite;
    }

    span {
      display: block;
      text-align: center;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }

  .chrome {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-out 500ms, visibility 0ms linear 1000ms;

    .header {
      position: absolute;
      top: 35px;
      left: 50%;
      text-align: center;
      transform: translate(-50%, 0%);
    }

    .footer {
      position: absolute;
      bottom: 10px;
      left: 50%;
      text-align: center;
      transform: translate(-50%, 0%);
    }

    .buttons {
      section {
        position: absolute;
        display: flex;
        flex-flow: column;
        opacity: 0;
        visibility: hidden;
        transition: opacity 500ms ease-out 0ms, visibility 0ms linear 700ms, transform 700ms ease-in-out 0ms;

        &:nth-child(1) {
          top: 18px;
          left: 18px;
          transform: translateY(-10px);

          button {
            &:nth-child(2) {
              @include button-transitions($visible-delay: 0ms, $hidden-delay: 400ms);
            }

            &:nth-child(3) {
              @include button-transitions($visible-delay: 200ms, $hidden-delay: 200ms);
            }

            &:nth-child(4) {
              @include button-transitions($visible-delay: 400ms, $hidden-delay: 0ms);
            }
          }
        }

        &:nth-child(2) {
          top: 18px;
          right: 18px;
          transform: translateY(-10px);

          button {
            &:nth-child(2) {
              @include button-transitions($visible-delay: 0ms, $hidden-delay: 400ms);
            }

            &:nth-child(3) {
              @include button-transitions($visible-delay: 200ms, $hidden-delay: 200ms);
            }

            &:nth-child(4) {
              @include button-transitions($visible-delay: 400ms, $hidden-delay: 0ms);
            }
          }
        }

        &:nth-child(3) {
          bottom: 18px;
          left: 18px;
          transform: translateY(10px);
        }

        &:nth-child(4) {
          bottom: 18px;
          right: 18px;
          transform: translateY(10px);
        }
      }
    }
  }

  &.loading .splash {
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms ease-in 500ms, visibility 0ms linear 500ms;
  }

  &.loaded .chrome {
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms ease-in 0ms, visibility 0ms linear 0ms;

    .buttons {
      section {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        transition: opacity 500ms ease-in 500ms, visibility 0ms linear 500ms, transform 700ms ease-in-out 500ms;
      }
    }
  }
}

.app.dark {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.app.light {
  color: #000;
  background-color: #fff;
  border-color: #000;
}