@import "../styles/functions";
@import "../styles/variables";
@import "../styles/mixins";

.app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 16px "Lato", sans-serif;
  color: #fff;

  // :focus {
  //   outline: #4d90fe solid 1px;
  //   outline-offset: -1px;
  // }

  a {
    color: inherit;
  }

  button,
  input {
    font: inherit;
  }

  // input[readonly]:focus {
  //   outline: none;
  // }

  .splash {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-out 0ms, visibility 500ms linear 0ms;

    span {
      @include absolute-position($top: 50%, $left: 50%, $x: -50%, $y: -50%);
      color: #000;
      text-align: center;
      
      &::before {
        display: block;
        width: 100px;
        height: 71px;
        margin: auto;
        content: "";
        background: url("../images/react.svg") center/contain no-repeat;
        animation: spin 2s linear infinite;
      }
    }
  }

  .chrome {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease-out 0ms, visibility 500ms linear 0ms;

    .background {
      @include absolute-position($top: 0, $left: 0, $bottom: 0, $right: 0);
      background: url("../images/background.jpg") right bottom/cover no-repeat;
    }

    .header {
      @include absolute-position($top: 35px, $left: 50%, $x: -50%);

      a {
        display: block;
        width: 162px;
        height: 48px;
        overflow: hidden;
        text-align: center;
        text-indent: 100%;
        white-space: nowrap;
        background: url("../images/logo.png") center/contain no-repeat;
      }
    }

    .footer {
      @include absolute-position($bottom: 10px, $left: 50%, $x: -50%);

      a {
        display: block;
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 1px;
        padding-left: 1px;
        text-align: center;
        text-decoration: none;        
        text-transform: uppercase;
        color: rgba(14, 34, 54, 0.61);
        
        &:hover {
          color: #f8e9db;
        }
      }
    }

    .buttons {
      section {
        $button-margin: 27px 0 0;
        $button-rotation: 45deg;

        margin: negate($button-margin);
        opacity: 0;
        visibility: hidden;
        transition: opacity 500ms ease-out 0ms, visibility 500ms linear 0ms, transform 500ms ease-in-out 0ms;

        &:nth-child(1) {
          @include absolute-position($top: 30px, $left: 30px, $y: -10px);
          @include flex-display($direction: column);

          button {
            &:nth-child(2) {
              @include button-transition-delay($visible-delay: 0ms, $hidden-delay: 400ms);
            }

            &:nth-child(3) {
              @include button-transition-delay($visible-delay: 200ms, $hidden-delay: 200ms);
            }

            &:nth-child(4) {
              @include button-transition-delay($visible-delay: 400ms, $hidden-delay: 0ms);
            }
          }
        }

        &:nth-child(2) {
          @include absolute-position($top: 30px, $right: 30px, $y: -10px);
          @include flex-display($direction: column);

          button {
            &:nth-child(2) {
              @include button-transition-delay($visible-delay: 0ms, $hidden-delay: 400ms);
            }

            &:nth-child(3) {
              @include button-transition-delay($visible-delay: 200ms, $hidden-delay: 200ms);
            }

            &:nth-child(4) {
              @include button-transition-delay($visible-delay: 400ms, $hidden-delay: 0ms);
            }
          }
        }

        &:nth-child(3) {
          @include absolute-position($bottom: 30px, $left: 30px, $y: 10px);
          @include flex-display($direction: column-reverse);
        }

        &:nth-child(4) {
          @include absolute-position($bottom: 30px, $right: 30px, $y: 10px);
          @include flex-display($direction: column-reverse);
        }

        button {
          width: 44px;
          height: 44px;
          padding: 0;
          border: 0;
          margin: $button-margin;
          color: #f8e9db;
          background: rgba(14, 34, 54, 0.61);
          transform: rotate($button-rotation);

          &.active,
          &:hover {
            color: #0e2236;
            background: #f8e9db;
          }

          span {
            font-weight: bold;
            font-size: 9px;
            line-height: 11px;
            letter-spacing: 2px;
            padding-left: 2px;
            text-transform: uppercase;
          }

          span,
          &::before,
          &::after {
            transform: rotate(negate($button-rotation));
          }

          &[data-icon]::before {
            font-size: 14px;
          }

          &[data-icon="\f04b"]::before {
            padding-left: 2px;
          }
        }
      }
    }
  }

  &.loading {
    .splash {
      opacity: 1;
      visibility: visible;
      transition: opacity 500ms ease-in 0ms, visibility 0ms linear 0ms;
    }
  }

  &.loaded {
    .chrome {
      opacity: 1;
      visibility: visible;
      transition: opacity 500ms ease-in 0ms, visibility 0ms linear 0ms;

      .buttons {
        section {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
          transition: opacity 500ms ease-in 500ms, visibility 0ms linear 500ms, transform 500ms ease-in-out 500ms;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}