.app button {
  font: inherit;
  color: #000;
  background: #ccc;
  transition: color 200ms ease 0ms, background 200ms ease 0ms, opacity 500ms ease-in 0ms, visibility 0ms linear 0ms;

  &.active {
    color: #000;
    background: #999;
  }

  &:hover {
    color: #fff;
    background: #333;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    transition: color 200ms ease 0ms, background 200ms ease 0ms, opacity 500ms ease-out 0ms, visibility 500ms linear 0ms;
  }

  span,
  &::before,
  &::after {
    display: block;
  }

  &[data-icon] {
    &::before {
      content: attr(data-icon);
      font-family: "FontAwesome";
    }

    span {
      display: none;
    }
  }
}