@import "styles/variables";
@import "styles/mixins";
@import "themes/dark";

#madeon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  @import "components/App";
  @import "components/Button";
}