@import "styles/variables";
@import "styles/mixins";

#madeon1 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 50%;

  @import "themes/dark";
  @import "components/App";
  @import "components/Button";
}

#madeon2 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  right: 0px;

  @import "themes/light";
  @import "components/App";
  @import "components/Button";
}